# 文件
*.iml
.DS_Store
.externalNativeBuild
.cxx
local.properties

# 文件夹
.gradle
.idea
build/
captures/
dependencies/
deprecate/
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.jar
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.jar.md5
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.jar.sha1
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.jar.sha256
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.jar.sha512
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.module
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.module.md5
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.module.sha1
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.module.sha256
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.module.sha512
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.pom
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.pom.md5
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.pom.sha1
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.pom.sha256
/plugin-resp/com/mercer/magician/1.0.0/magician-1.0.0.pom.sha512
/plugin-resp/com/mercer/magician/maven-metadata.xml
/plugin-resp/com/mercer/magician/maven-metadata.xml.md5
/plugin-resp/com/mercer/magician/maven-metadata.xml.sha1
/plugin-resp/com/mercer/magician/maven-metadata.xml.sha256
/plugin-resp/com/mercer/magician/maven-metadata.xml.sha512
